<h1 class="text-blue">Ember League Table</h1>

<div class="flex">
    <div class="flex-1 h-screen p-2">
        <GameResults @games={{this.game.games}}/>
    </div>
    <div class="flex-1  h-screen p-2">
        <LeagueTable @games={{this.game.games}} @teams={{this.game.teams}}/>
    </div>
</div>
<hr>
